asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.0.4
django-bootstrap4==24.1
django-storages==1.14.2
mysqlclient==2.2.4
pillow==10.3.0
PyMySQL==1.1.0
pytz==2024.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
