<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴 페이지</title>
    <style>
        /* 문구를 화면 상단으로 위치시키는 CSS */
        body {
            display: flex;
            justify-content: center;
            align-items: flex-start; /* 문구를 화면 상단에 위치시킴 */
            min-height: 100vh; /* 최소한 화면 높이 만큼의 높이를 가짐 */
            margin: 0;
        }
        .content {
            text-align: center;
            padding-bottom: 20px; /* 버튼과의 간격을 조정하기 위해 하단 패딩 추가 */
        }
        button {
            margin-top: 10px; /* 버튼 위에 여백 추가 */
        }
    </style>
</head>
<body>
    <!-- 에러 메시지를 스크립트로 표시 -->
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}

    <div class="content">
        <h1>!회원 탈퇴!</h1>
        <form action="{% url 'confirm_remove' user_id %}" method="post">
            {% csrf_token %}
            <p>{{ user_id }}님의 회원 탈퇴를 진행하시려면 아래 비밀번호를 입력하세요.</p>
            <div>
                <label for="password">비밀번호:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">확인</button>
        </form>
    </div>
</body>
</html>